{% extends "base.html" %}

<!-- Reescreva os blocos que deseja substituir em base.html -->
{% block content %}

    <h1 >Página inicial</h1>

    <h3>O sistema acadêmico tem atualmente os seguintes registros:</h3>
    <ul>
        <li><strong>Pessoas:</strong> {{ num_pessoas }}</li>
        <li><strong>Professores:</strong> {{ num_professores }}</li>
        <li><strong>Alunos:</strong> {{ num_alunos }}</li>
        <li><strong>Disciplinas:</strong> {{ num_disciplinas }}</li>
        <li><strong>Cursos:</strong> {{ num_cursos }}</li>
        <li><strong>Matrículas:</strong> {{ num_matriculas }}</li>
    </ul>

{% endblock %}
